.offcanvas-body{
  padding: 0 !important
}
#offcanvas_menu{
  padding: 5px;
  padding-top: 15px;
}
#offcanvasRightLabel{
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0;
}
.offcanvas-header{
  padding: 10px;
  border-bottom: 1px solid #ccc;  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.offcanvas_info{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 15px;
  margin-right: 15px;
}
.offcanvas_link{
  display: grid;
  grid-template-columns: 30px 1fr;
}
.offcanvas_link:active{
  transform: translateY(2px);
}
.offcanvas_active{
    transform: translateY(2px);
    color: green
}
.offcanvas_direction{
  text-align: center;
  padding-top: 7px;  
}
.offcanvas_sub_menu{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 3px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.offcanvas_sub_menu_title{
  font-size: 1.05em;
  font-weight: 600;
}
.offcanvas_sub_menu_description{
  font-size: 0.7em;    
}
#offcanvas_footer, #offcanvas_footer_link, #offcanvas_footer_policy, #offcanvas_app_download{
  padding: 5px;
  font-size: 0.85em;
  font-weight: 600;
  grid-row-gap: 13px;
  display: grid;
  grid-template-columns: 30px 1fr;  
  margin-top: 20px;
}
.offcanvas_footer_icon{
  text-align: center;
}
#appDownloadModalBody{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 15px;
  text-align: center;
}
#appDownloadModalDescription{
  font-size: 1.1em;
  font-weight: 600;
}
.app-download-link{
  background-color: #e31939;
  color: white;  
  margin-bottom: 10px;
  font-size: 1.1em;
  width: 200px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  font-weight: 600;
}
#appDownloadModaldescription{
  font-size: 0.9em;
  color: #666;
}
#appDownloadModalCancel{
  font-size: 0.9em;
  color: #666;
  text-decoration: underline;
}
#offcanvas_company, #offcanvas_company_long{
  font-size: 0.75em;
  font-weight: 600;
  padding: 15px;
  text-align: left;
  color: #888;
  background: #eee;
  margin-top: 30px;
  position: relative;
}

#company_info_detail{
  display: grid;
  row-gap: 5px;
  text-align: left;
  grid-template-columns: 110px 1fr;
}

#company_CI{  
  margin-top: 10px;
}

.loginBox{
  display: grid;
  text-align: center;  
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  justify-items: center;
}
#aptrankLoginGuide{
  padding-bottom: 5px;
  font-size: 0.85em;
}
.loginCI{
  display: grid;
  justify-content: center;  
  padding-top: 2px;
  text-align: center;
}
.loginText{
  line-height: 1.3em;
}
#loginDetail{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
#policy_box{
  margin-top: 10px;
  margin-bottom: 15px;
}
#policy_agreement{  
  display: grid;
  grid-template-columns: 220px 40px;
  font-size: 0.9em;
  row-gap: 10px;
  background: #eee;
  border-radius: 5px;
  padding: 10px
}
#all_agree{
  grid-column: span 2;
}
#all_agree_button{
  text-align: center;
  font-weight: 600;
  border-radius: 5px;
  background: #666;
  color:white;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#all_agree_button:active{
  background: #444;
}
.policy_checker{
  vertical-align: -2px;
  margin-right: 10px;
}
#naverIdLogin, #kakaoIdLogin, #appleIdLogin, #naverLogin{
  display: grid;  
  grid-template-columns: 50px 1fr;
  border-radius: 5px;
  margin-bottom: 10px;  
  width: 280px;
  padding-right: 30px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  text-align: center;
  font-weight: 600;
}
#naverIdLogin_loginButton, #appleIdLogin_loginButton{
  text-decoration: none;
  color: white;
}

#kakaoIdLogin_loginButton{
  text-decoration: none;
  color: #000;
}
#naverIdLogin, #naverLogin{
    background-color: #03C75A;
}
#kakaoIdLogin{
  background-color: #FEE500;
}
#appleIdLogin{
  background-color: #000;
}

#aptrankLoginButton{
  border-radius: 5px;
  background-color: #e31939;
  color: white;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 300px;  
  font-weight: 600
}

#aptrankLoginButton:hover, #aptrankLoginButton:active{
  background-color: #cf1e3b;
}

#aptrankLoginButton2{
  border-radius: 5px;
  font-size: 0.8em;
  background-color: rgba( 255, 255, 255, 0.0 );
  color: white;
  border: 1px solid white;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  width: auto;
  font-weight: 600
}

#aptrankLoginButton2:hover, #aptrankLoginButton2:active{
  background-color: rgba( 255, 255, 255, 0.1 );
}

#linkToAptrank_bottom{
  display: inline-block;
  width: 100%;
  overflow:auto;
  align-content: center;
  justify-content: center;
  padding-bottom: 1px;    
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  line-height: 2.8em;
  background-color: #eeeeee;
  box-shadow: rgba(50, 50, 93, 0.25) 0px -5px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  text-align: center;
  z-index: 860;
}

#tab1, #tab2, #tab3, #tab4, #tab5, #tab6, #tab7, #tab8, #tab9{
  font-size: 0.8em;
  font-weight: 600;
  border-top: 2px solid #e31939;
  color: gray;
}
#tab1:active, #tab2:active, #tab3:active, #tab4:active, #tab5:active, #tab6:active, #tab7:active, #tab8:active, #tab9:active{
  color: #fff;
  background-color: #e31939;
} 

#bottom_memu_wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow : auto;
}

#pageLoadingBack{
  position:fixed;
  top:0;    
  justify-items: center;
  align-content: center;
  display: grid;
  background:rgba(0, 0, 0, 0.6);
  width:100%;
  height:100%;
  z-index: 1500;
}
.text-pageLoading{
  color: #ffffff
}

/* Request Report */

#requestReportModalHeader{
  display: grid;
  grid-template-columns: 1fr 50px;
}

#req_sido_m, #req_gungu_m{
  border-radius: 0;    
  -webkit-border-radius: 0;    
  width: 95%;
  height: 2em;
  font-size: 0.8em;
  margin-right: 2px;
  border: none;
  background-color: white;
  color: black;
}
.req_sido, .req_gungu{    
  width: 100%;
  font-size: 0.85em;
  color: #162235;
  margin-right: 2px;
  background: white;
  border: none;
  border-bottom: 1px solid #ddd;    
  border-radius: 0;    
  -webkit-border-radius: 0;    
  padding-left: 5px;
  background-color: white;
  color: black;
}  
.req_sido:focus, .req_gungu:focus{
  outline: 0;    
}
.req_sido option, .req_gungu option{
  font-size: 1em;
  font-weight: 600;    
}

#req_step0, #req_step1, #req_step2, #req_step3, #req_step4{
  display: grid;
  width: 99%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: 1fr;
  background-color: #fff;
  border-radius: 5px;  
  align-items: center;
  margin-bottom: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#req_step1_m, #req_step2_m, #req_step3_m, #req_step4_m{
  background-color: #fff;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;    
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.req_stepInfo{    
  font-weight: 900;    
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc
}
.req_step1Title{
  text-align: left;
  font-size: 0.85em;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  margin-bottom: 3px;
}
.req_step1Title_m{    
  text-align: left;
  font-size: 0.85em;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  margin-bottom: 3px;
}
.req_text_input{
  width: 100%;
  font-size: 0.85em;
  border-width: 0;
  border-bottom: 1px solid #ddd;
  text-align: center;    
  padding-left: 10px;  
}
.req_number_input{
  width: 100%;
  border-width: 0;
  border-bottom: 1px solid #ddd;
  text-align: right;    
  padding-left: 10px;
}
.req_number_input:focus, .req_text_input:focus{
  outline: none;
  border-bottom: 1px solid #0820a8;
}
.req_number_input_sub{
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-top: 1px;
}
.req_customer_input{
  display: grid;
  grid-template-columns: 110px 200px 200px;
  column-gap: 20px;
  margin-bottom: 10px;    
}
.req_budget_input{
  display: grid;
  grid-template-columns: 110px 160px 30px;
}
#req_fav_regions{
  display: grid;
  grid-template-columns: 300px 300px;
  column-gap: 45px;
  row-gap: 15px;
}
#req_budget_kor1, #req_budget_kor2{
  grid-column: span 3;
  font-size: 0.85em;
  text-align: right;
  color: #888;
  padding-right: 10px;
}
#req_step1Content{
  display: grid;    
  grid-template-columns: 300px 300px;
  column-gap: 40px;    
}
#req_step1Content_m{
  display: grid;
  row-gap: 5px;
}
#req_movingMethod{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
}
.req_fav_region{
  display: grid;
  grid-template-columns: 100px 160px 30px;
  column-gap: 5px;
}
.req_fav_remove{
  text-align: center;
  color: #b61313
}
.req_add_region{
  width: 100%;
  font-size: 0.85em;
  border-radius: 4px;
  background-color: #fff;
  color: #aaa;
  border: 1px dashed #aaa;
  text-align: center;
}
#req_btn_generate, #req_btn_final_confirm{
  width: 100%;
  font-size: 1em;
  border-radius: 8px;
  margin-bottom: 15px;
  color: #fff;
  background-color: #b81212;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#req_btn_generate:hover, #req_btn_final_confirm:hover{
  background-color: #b61313;
}
#req_btn_generate:active, #req_btn_final_confirm:active{
  transform: translateY(2px);
}
#req_btn_temp_save, #req_btn_temp_load, #req_btn_final_cancel{
  width: 100%;
  font-size: 1em;
  border-radius: 8px;
  margin-bottom: 15px;
  color: #fff;
  background-color: #303030;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#req_btn_temp_save:hover, #req_btn_temp_load:hover, #req_btn_final_cancel:hover{
  background-color: #303030;
}
#req_btn_temp_save:active, #req_btn_temp_load:active, #req_btn_final_cancel:active{
  transform: translateY(2px);
}
#req_btn_final_confirm{
  width: 100%;
  font-size: 1em;
  border-radius: 8px;
  margin-bottom: 15px;
  color: #fff;
  background-color: #b81212;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#req_ageDescription{
  font-size: 0.85em;
  color: #aaa
}
#req_customer_children:disabled, #req_customer_children_type:disabled{
  color: #ccc;
  border-bottom: 1px solid #ddd;
}
#req_movingMethod > div:nth-child(1) > label{
  width: 95%;
  font-size: 0.85em;
  padding : 2px;
  border: 1px solid #b61313;  
}
#req_movingMethod > div:nth-child(2) > label{
  width: 95%;
  font-size: 0.85em;
  padding : 2px;
  border: 1px solid #b61313;  
}
#req_map{
  width: 100%;  
}
#req_map_search{
  display: grid;
  grid-template-columns: 25px 1fr 30px 100px;
}
#req_input_search{
  width: 100%;
  font-size: 0.85em;
  border : none;
  border-bottom: 1px solid #aaa;
  margin-bottom: 15px;
  margin-left: 5px;
}
#req_input_search:focus{
  outline: none
}
#req_input_del_all{
  text-align: center;
  padding-left: 10px;
}
#req_run_search{
  width: 90%;
  margin-left: 10px;
  margin-right: 5px;
  font-size: 0.85em;
  border-radius: 5px;
  border : 1px solid #b61313;
  color: white;
  background-color: #b61313;
}
.req_priority_range{
  display: grid;
  grid-template-columns: 80px 3fr 50px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.req_range_val{
  margin-left: 15px;
  text-align: right;
}
.req_description{
  font-size: 0.85em;
  color: #777;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f5f5f5;
}
.req_description_notice{
  font-size: 0.85em;  
  background-color: #f5f5f5;
  padding-top : 5px;
  padding-bottom : 5px;
}
.req_description_notice ul{
  margin: auto;  
}
.req_email_domain{
  width: 100%;
  font-size: 0.85em;
  border: none;
  border-bottom: 1px solid #aaa;
  text-align: center;    
  padding-left: 10px;  
}
.req_final_confirm_title{  
  font-weight: 600;
  margin-bottom: 10px;
  padding-bottom: 5px;  
  border-bottom: 1px solid #ccc
}
.req_final_confirm_table{
  font-size: 0.9em;
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 10px;
  row-gap: 5px;
  margin-bottom: 10px;
}
.req_final_confirm_value{
  font-weight: 600;
  color: #b61313
}
#requestReportModalFooter{
  display: grid;
  grid-template-columns: 1fr 1fr 3fr !important;
}
#requestReportFinalConfirmModalFooter{
  display: grid;
  grid-template-columns: 1fr !important;
}
.black-backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index : 1059
}

/*
@media (max-height:950px){  
  #linkToAptrank_bottom{
    display: none;
  }
}
@media screen and (min-width: 800px){
  #linkToAptrank_bottom{
    width: 800px;
    margin: 0 auto;
  }
}
*/